<div id="comoComprar_modal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="cerrar_modal">
        <a data-dismiss="modal" aria-hidden="true"  (click)="this.back()"> <div class="cerrar"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></div></a>
    </div>
    <div class="modal-header ">

        <h3 id="myModalLabelA" >¿C&Oacute;MO COMPRAR?</h3>
    </div>
    <div class="contNegro">
        <div class="row-fluid head_modal"> 
            <div class="text-center"><img src="assets/img/logo-med.png"></div>
        </div>
        <div class="modal-body cuerpo_modal" >
                <div class="recuadro">
                    <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">COMBO</span></span></h4>

                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,</small>
                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,  </small>
                    
                     <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">COMBO</span></span></h4>

                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,</small>
                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,  </small>
                    
                     <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">COMBO</span></span></h4>

                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,</small>
                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,  </small>
                     <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">COMBO</span></span></h4>

                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,</small>
                    <small class="letraGrisTaho">TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO, TEXTO EJEMPLO,  </small>

                </div>
            </div>
         <div class="text-center"><small class="textoChico ">PARA PODER REALIZAR TU COMPRA TENÉS QUE ESTAR REGISTRADO. PARA REGISTRARTE HACÉ CLICK EN: REGISTRARSE </small></div>


    </div>
    </div>