<div id="comoComprar_modal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="cerrar_modal">
        <a data-dismiss="modal" aria-hidden="true"  (click)="this.back()"> <div class="cerrar"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></div></a>
    </div>
    <div class="modal-header ">

        <h3 id="myModalLabelA" >¿C&Oacute;MO COMPRAR?</h3>
    </div>
    <div class="contNegro">
        <div class="row-fluid head_modal"> 
            <div class="text-center"><img src="assets/img/logo-med.png"></div>
        </div>
        <div class="modal-body cuerpo_modal" >
                <div class="recuadro">
                   
                    <h4 ><span class="letra_clasif myriad segunda">PASO <span class="em">1 </span> <span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">CIUDAD</span></span></h4>
                    
                    <small class="letraGrisTaho">EN ESTE PASO SELECCIONÁ LA CIUDAD EN LA CUAL CONCURRIRÁS AL CINE. (EJEMPLO: MAR DEL PLATA).</small>
                    <br>
                    <br>
                    
                    <h4 ><span class="letra_clasif myriad segunda">PASO <span class="em">2 </span> <span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">PELICULA</span></span> Y <span class="letra_clasif myriad bold"> <span class="celeste">FUNCIÓN</span></span></h4>
                    
                    <small class="letraGrisTaho">EN ESTE PASO SELECCIONÁ LA PELÍCULA Y EL HORARIO DE LA PELÍCULA A LA QUE QUERRÁS CONCURRIR Y LUEGO PRESIONAR EL BOTÓN CONTINUAR. (LA SELECCIÓN REALIZADA SE DENOTA CON UN RECUADRO TURQUESA).</small>
                    <br>
                    <br>

                    <h4 ><span class="letra_clasif myriad segunda">PASO <span class="em">3 </span> <span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">ENTRADA</span></span></h4>
                    
                    <small class="letraGrisTaho">EN ESTE PASO SELECCIONÁ EL TIPO DE ENTRADAS CON LAS QUE CONCURRIRÁS AL CINE (EJEMPLO: 2 ADULTOS), RECUERDA QUE NO PODRÁS SELECCIONAR MÁS DE 10 TICKETS POR TRANSACCIÓN. A CONTINUACIÓN DEBERÁS SELECCIONAR LAS BUTACAS DE LA SALA EN LAS CUALES TE UBICARÁS PARA LA PROYECCIÓN DE LA MISMA (EN CASO QUE LA FUNCIÓN SEA NUMERADA). SI SE DESEA UTILIZAR UNA PROMOCIÓN SE DEBE SELECCIONAR LA TARIFA CORRESPONDIENTES A LA PROMOCIÓN A UTILIZAR. LAS PROMOCIONES REQUERIRAN QUE SE COMPLETE UN CAMPO ADICIONAL, EL CUAL SE PRESENTARÁ POR PANTALLA, CON EL DATO PARA VALIDAR LA PROMOCIÓN. (EJEMPLO: SANTANDER RÍO SOLICITARÁ LOS PRIMEROS 6 DÍGITOS DE LA TARJETA SANTANDER PARA SU VALIDACIÓN)</small>
                    <br>
                    <br>

                    <h4 ><span class="letra_clasif myriad segunda">PASO <span class="em">4 </span> <span class="celeste">SELECCION&Aacute; </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">COMBO</span></span></h4>
                   
                    <small class="letraGrisTaho">EN ESTE PASO PODRÁS AGREGAR EXCLUSIVOS COMBOS DE NUESTRO CANDY PARA HACER MÁS PLACENTERA TU PELÍCULA (RECUERDA QUE LOS PRODUCTOS ADQUIRIDOS A TRAVÉS DE LA WEB DEBEN SER SOLICITADOS EN LOS CANDYS CON EL CÓDIGO DE RETIRO DE LA OPERACIÓN, SU DNI Y LA TARJETA DE CRÉDITO CON LA CUAL SE REALIZÓ LA COMPRA).</small>
                    <br>
                    <br>

                    <h4 ><span class="letra_clasif myriad segunda">PASO <span class="em">5 </span> <span class="celeste">FINALIZÁ </span></span> TU <span class="letra_clasif myriad bold"> <span class="celeste">OPERACIÓN</span></span></h4>
                    
                    <small class="letraGrisTaho">EN ESTE ÚLTIMO PASO CONFIRMARÁS TU OPERACIÓN. CONFIRMA QUE ABSOLUTAMENTE TODOS LOS DATOS SEAN CORRECTOS ANTES DE HACERLO. TE RECORDAMOS QUE EL TITULAR DE LA TARJETA DE CRÉDITO CON LA CUAL SE REALIZÓ LA OPERACIÓN DEBERÁ ESTAR PRESENTE AL MOMENTO DEL RETIRO. LUEGO SELECCIONA EL BOTON FINALIZAR COMPRA.
                        RECIBIRÁS UN MAIL CON LA CONFIRMACIÓN DE TU OPERACIÓN. QUE DISFRUTES DE LA FUNCIÓN!!!!</small>
                    
                </div>
            </div>
         <div class="text-center"><small class="textoChico ">PARA PODER REALIZAR TU COMPRA TENÉS QUE ESTAR REGISTRADO. PARA REGISTRARTE HACÉ CLICK EN: <a href="../registro">REGISTRARSE</a> </small></div>


    </div>
    </div>