
      <div id="cont_p0">
          <div id="logo"><a href="#"><img src="../../assets/img/logo.png" alt=""></a></div>
          <div id="paso0" class="content">
              <h4>Para acceder a <strong><span class="celeste">MiBoleteria</span> debes seleccionar</strong> tu <strong class="celeste">ciudad</strong></h4>

              <form action="#" class="form-horizontal">
                  <div class="control-group" id="r1Div">
                      <label class="control-label" for="r1"><h4><strong class="celeste">Ciudad:</strong></h4></label>
                      <div class="controls">

                          <select id="r1" name="r1" class="selectCiudad" required>
                              <option value="">(ELIJA UNA CIUDAD)</option>
                              <option value="1">SAN LUIS</option>



                          </select>
                          <small><br><br>Seleccioná tu ciudad para acceder a la compra de entradas de tu localidad bajo los servicios de Miboleteria.com.ar.</small>
                      </div>
                  </div>
                  <input type="submit" id="ciudad" name="ciudad" class="hide" />
              </form>
          </div>
          <div id="boton_continuar">
              <div class="button continuar" >
                  <button><a routerLink="/entrada"><span>Continuar</span></a></button>
              </div>
          </div>

      </div>
      