<div id="clasificaciones_modal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="cerrar_modal">
        <a data-dismiss="modal" aria-hidden="true" (click)="this.back()"> <div class="cerrar"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></div></a>
    </div>
    <div class="modal-header ">

        <h3 id="myModalLabelA" >CLASIFICACIONES</h3>
    </div>
    <div class="contNegro">
        <div class="row-fluid head_modal"> 
                <div class="text-center"><img src="assets/img/logo-med.png"></div>
            </div>
       <div> <div class="modal-body cuerpo_modal" >
            <div class="recuadro">
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">ATP</span></span></h4>
               <p> <small class="letraGrisTaho">Apta Todo Público.</small></p>
                <h4 ><span class="letra_clasif myriad bold"><span class="celeste">ATP C/R</span></span></h4>
               <p> <small class="letraGrisTaho">Apta Todo Público con reservas.</small></p>
                <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM</span></span> 13</h4>
                <p><small class="letraGrisTaho">Sólo apta para mayores de 13 años, presentando D.N.I. Los menores podrán ingresar en compañia de Padre, Madre o Tutor.</small></p>
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM</span></span> 13 <span class="letra_clasif myriad bold"><span class="celeste">C/R</span></span></h4>
               <p> <small class="letraGrisTaho">Sólo apta para mayores de 13 años con reservas, presentando D.N.I. Los menores podrán ingresar en compañia de Padre, Madre o Tutor.</small></p>
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM </span></span>16</h4>
                <p><small class="letraGrisTaho">Sólo apta para mayores de 16 años, presentando D.N.I. Los menores podrán ingresar en compañia de Padre, Madre o Tutor.</small></p>
                <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM</span></span> 16 <span class="letra_clasif myriad bold"><span class="celeste">C/R</span></span></h4>
               <p> <small class="letraGrisTaho">Sólo apta para mayores de 16 años con reservas, presentando D.N.I. Los menores podrán ingresar en compañia de Padre, Madre o Tutor.</small></p>
                <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM </span></span>18</h4>
                <p><small class="letraGrisTaho">Sólo apta para mayores de 18 años, presentando D.N.I. Los menores de 18 años no podrán ingresar a la sala, aún en compañía de un adulto.</small></p>
            </div>
                   <div class="recuadro" style=" margin-top: 20px;">
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">Ingreso de menores con autorización firmada </span></span></h4>
                  
             <p><small class="letraGrisTaho bold">Resolución 2890/2012 - INCAA</small></p>
            <p><small class="letraGrisTaho">A partir de la Resolución 2890/2012, los menores podrán ingresar a películas SAM 13 y 16 acompañados de un adulto, que no sea uno de sus padres, presentando una autorización firmada por ellos.
            Descargar formulario:  <a target="blank" routerLink="../assets/terminosPdf/res_2890-2012_incaa.pdf"> Aquí </a></small></p>
             
            </div>
     </div>

</div>
</div>
    </div>

