<div id="clasificaciones_modal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="cerrar_modal">
        <a data-dismiss="modal" aria-hidden="true" (click)="this.back()"> <div class="cerrar"><h4><strong>CERRAR <span class="celeste">X</span></strong></h4></div></a>
    </div>
    <div class="modal-header ">

        <h3 id="myModalLabelA" >CLASIFICACIONES</h3>
    </div>
    <div class="contNegro">
        <div class="row-fluid head_modal"> 
                <div class="text-center"><img src="assets/img/logo-med.png"></div>
            </div>
       <div> <div class="modal-body cuerpo_modal" >
            <div class="recuadro">
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">SAM </span></span> 18</h4>
                  
            <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
           <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
            <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
            <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
             <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
            </div>
                   <div class="recuadro" style=" margin-top: 20px;">
                  <h4 ><span class="letra_clasif myriad bold"><span class="celeste">Ingreso de menores con autorización firmada </span></span></h4>
                  
             <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
            <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
             <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
            <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
             <small class="letraGrisTaho">texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, texto de ejemplo, </small>
             
            </div>
     </div>

</div>
</div>
    </div>

