<div id="cont_paso3">
    <div class="row-fluid">
       

									

            <h2 ><span>Finaliza</span> tu operación</h2>

            <p>Para completar su operación verifique que todos los datos, 
tanto de la película, día, horario como los personales sean correctos. 
Luego presione el botón FINALIZAR. Muchas gracias.</p>

            <div >

                <table ><tbody><tr>
<td >Nombre:</td>
<td >Manuel</td>
</tr>
<tr>
<td >Email:</td>
<td >manuelnc53@gmail.com</td>
</tr>
<tr>
<td >DNI:</td>
<td >38926305</td>
</tr>
<tr>
<td >Tel:</td>
<td >2664000614</td>
</tr>
</tbody></table>

            </div>

            <div ></div>

            <h2 ><span>Tipo</span> de Operación</h2>

            <div ><img src="" ></div>

            <div >

               <!-- <div >

                    <input type="hidden" name="modo" value="1">

                    <a href="#" id="op-buy" class="active" title="">COMPRA</a>

                </div>-->

                

                <div ></div>

                <p >El total de su operación es de <strong >$255.00</strong>. Para finalizar con su pedido, por <br>favor ingrese la información solicitada y haga click en el botón finalizar".</p>

            

                <div >

            

                <p >

                    <label >Tipo de Tarjeta:</label>

                    <select >

                        <option value="0" >Seleccione...</option>
                    <option value="14">Visa Credito</option><option value="55">Visa Debito (Red Banelco)</option><option value="5">MasterCard</option><option value="1">Amex</option><option value="9">Tarjeta Naranja</option></select>

                </p>

                </div>

                

               <!-- <label ><input type="checkbox" id="checkTerminos" name="aceptar"><p>Acepto <a >Términos y condiciones</a>. Una vez realizada la compra, la transacción no puede ser revertida. <span>Recuerde que al retirar sus entradas deberá contar con el DNI y la tarjeta de crédito con la cual realizará la compra.</span></p></label>-->

            </div>

            


    
    </div>
</div>