 <div id="cont_paso2" class=""><!--añadir class ocultar para no mostrar el div,y que no se reserve espacio para el elemento-->
                    <div class="row-fluid">
                        <div class="span6" id="info_cartelera">
                            <h4 class="titulo"><span>SELECCIONA </span>TU PELICULA</h4>
                            <div class="modal-body" id="cartelera"><!--------ESTE DIV TIENE UN SCROLLBAR ------->

                                <ul>
                                    <li class="cinema">CINEMACENCER SAN LUIS - <span class="city">San Luis</span></li>

                                    <div *ngFor="let pelicula of peliculas">
                                    <li><a (click)="guardarNombrePelicula(pelicula.NOMBRE)">{{pelicula.NOMBRE}}</a></li>
                                    
                                    </div>



                                </ul>

                                

                            </div>
                        </div>
                        <div class="span3">
                            <h4 class="titulo" id="horario"><span>HORARIOS</span></h4>
                            <div class="modal-body" id="horarios" ><!--------ESTE DIV TIENE UN SCROLLBAR ------->
                                <ul>
                                    <li class="date">Miércoles 19 de junio </li>
                                    <li><a (click)="guardarFecha('19/06/2019 22:40 hs')">22:40</a></li>
                                </ul>

                                <ul>
                                    <li class="date">Jueves 20 de junio </li>
                                    <li><a (click)="guardarFecha('20/06/2019 16 hs')">16:00</a></li>
                                   
                                </ul>

                               

                            </div>
                            <div class="hints">
                                <p>* Los horarios en color <span class="matinee">Azul</span> corresponden a las funciones de <span class="matinee">MATINEE</span>.</p>
                                <p>* Los horarios en color <span class="trasnoche">Rojo</span> corresponden a las funciones de <span class="trasnoche">TRASNOCHE</span> (La <span class="trasnoche">TRASNOCHE</span> se proyecta pasadas las 24hs del día de función seleccionado).</p>
                            </div>


                        </div>
                    </div>
                </div>