<div id="cont_paso2" class=""><!--añadir class ocultar para no mostrar el div,y que no se reserve espacio para el elemento-->
    <div class="row-fluid">
        <div class="span6" id="info_cartelera">
            <h4 class="titulo"><span>SELECCIONA </span>TU PELICULA</h4>
            <div class="modal-body" id="cartelera"><!--------ESTE DIV TIENE UN SCROLLBAR ------->

                <ul>
                    <li class="cinema">CINEMACENCER {{complejo}} - <span class="city">{{complejo}}</span></li>

                    <div *ngFor="let pelicula of peliculas">
                    <li *ngIf="pelicula.ID_PELICULA!=this.entradaControlador.$idPelicula; else seleccionado"><a style="cursor:pointer;" (click)="guardarPelicula(pelicula.NOMBRE,pelicula.ID_PELICULA)" >{{pelicula.NOMBRE}}</a>
                        
                       
                    </li>
                    <ng-template #seleccionado  >
                            <li >
                                <a [ngStyle]="{'color':'black', 'background-color':'#01c5fe','cursor':'pointer'}">{{pelicula.NOMBRE}}</a>
                            </li>
                            
                    </ng-template>
                    
                    </div>


                </ul>


            </div>
        </div>
        <div class="span3">
            <h4 class="titulo" id="horario"><span>HORARIOS</span></h4>
            <div class="modal-body" id="horarios" ><!--------ESTE DIV TIENE UN SCROLLBAR ------->
                <div *ngFor="let h of horario">
                    <app-ver-horarios [hoy]="hoy" [horarios]="h.HORARIOS" (evento)="horarioSeleccionado=$event"></app-ver-horarios>
                </div>
                
            </div>
            <div class="hints">
                <p>* Los horarios en color <span class="matinee">Azul</span> corresponden a las funciones de <span class="matinee">MATINEE</span>.</p>
                <p>* Los horarios en color <span class="trasnoche">Rojo</span> corresponden a las funciones de <span class="trasnoche">TRASNOCHE</span> (La <span class="trasnoche">TRASNOCHE</span> se proyecta pasadas las 24hs del día de función seleccionado).</p>
            </div>


        </div>
    </div>
</div>