<div id="cont_paso2" class=""><!--añadir class ocultar para no mostrar el div,y que no se reserve espacio para el elemento-->
    <div class="row-fluid">
        <div class="span6" id="info_cartelera">
            <h4 class="titulo"><span>SELECCIONA </span>TU PELICULA</h4>
            <div class="modal-body" id="cartelera"><!--------ESTE DIV TIENE UN SCROLLBAR ------->

                <ul>
                    <li class="cinema">Ambassador - <span class="city">Mar del Plata</span></li>


                    <li><a href="#">AVENGERS: ENDGAME - 2D CAST</a></li>
                    <li><a href="#">LA MALDICION DE LA LLORONA - 2D CAST</a></li>
                    <li><a href="#">ALADDIN - 2D CAST</a></li>
                    <li><a href="#">EL SOL TAMBIEN ES UNA ESTRELLA - 2D CAST</a></li>



                </ul>

                <ul>
                    <li class="cinema">Los Gallegos shopping - <span class="city">Mar del Plata</span></li>


                    <li><a href="#">AVENGERS: ENDGAME - 2D SUB</a></li>
                    <li><a href="#">AVENGERS: ENDGAME - 3D CAST</a></li>
                    <li><a href="#">POKEMON: DETECTIVE PIKACHU - 2D CAST</a></li>
                    <li><a href="#">ALADDIN - 2D CAST</a></li>


                </ul>

                <ul>
                    <li class="cinema">Cines del Paseo - <span class="city">Mar del Plata</span></li>


                    <li><a href="#">AVENGERS: ENDGAME - 3D CAST</a></li>
                    <li><a href="#">POKEMON: DETECTIVE PIKACHU - 2D CAST</a></li>
                    <li><a href="#">ALADDIN - 2D CAST</a></li>
                    <li><a href="#">AVENGERS: ENDGAME - 3D CAST</a></li>
                    <li><a href="#">POKEMON: DETECTIVE PIKACHU - 2D CAST</a></li>
                    <li><a href="#">ALADDIN - 2D CAST</a></li>
                    <li><a href="#">AVENGERS: ENDGAME - 3D CAST</a></li>
                    <li><a href="#">POKEMON: DETECTIVE PIKACHU - 2D CAST</a></li>
                    <li><a href="#">ALADDIN - 2D CAST</a></li>


                </ul>


            </div>
        </div>
        <div class="span3">
            <h4 class="titulo" id="horario"><span>HORARIOS</span></h4>
            <div class="modal-body" id="horarios" ><!--------ESTE DIV TIENE UN SCROLLBAR ------->
                <ul>
                    <li class="date">Miércoles 22 de Mayo </li>
                    <li><a href="">22:40</a></li>
                </ul>

                <ul>
                    <li class="date">Jueves 23 de Mayo </li>
                    <li><a href="">16:00</a></li>
                    <li><a href="">19:50</a></li>
                </ul>

                <ul>
                    <li class="date">Viernes 24 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>

                <ul>
                    <li class="date">Sábado 25 de Mayo </li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>

                <ul>
                    <li class="date">Domingo 26 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>


                </ul>
                <ul>
                    <li class="date">Lunes 27 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                </ul>
                <ul>
                    <li class="date">Martes 28 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>
                <ul>
                    <li class="date">Miércoles 29 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>

            </div>
            <div class="hints">
                <p>* Los horarios en color <span class="matinee">Azul</span> corresponden a las funciones de <span class="matinee">MATINEE</span>.</p>
                <p>* Los horarios en color <span class="trasnoche">Rojo</span> corresponden a las funciones de <span class="trasnoche">TRASNOCHE</span> (La <span class="trasnoche">TRASNOCHE</span> se proyecta pasadas las 24hs del día de función seleccionado).</p>
            </div>


        </div>
    </div>
</div>