<div id="cont_paso2" class=""><!--añadir class ocultar para no mostrar el div,y que no se reserve espacio para el elemento-->
    <div class="row-fluid">
        <div class="span6" id="info_cartelera">
            <h4 class="titulo"><span>SELECCIONA </span>TU PELICULA</h4>
            <div class="modal-body" id="cartelera"><!--------ESTE DIV TIENE UN SCROLLBAR ------->

                <ul>
                    <li class="cinema">CINEMACENCER {{complejo}} - <span class="city">{{complejo}}</span></li>

                    <div *ngFor="let pelicula of peliculas">
                    <li *ngIf="pelicula.ID_PELICULA!=this.entradaControlador.$idPelicula; else seleccionado"><a (click)="guardarPelicula(pelicula.NOMBRE,pelicula.ID_PELICULA)" >{{pelicula.NOMBRE}}</a>
                        
                       
                    </li>
                    <ng-template #seleccionado  >
                            <li >
                                <a [ngStyle]="{'color': 'blue'}">{{pelicula.NOMBRE}}</a>
                            </li>
                            
                    </ng-template>
                    
                    </div>


                </ul>


            </div>
        </div>
        <div class="span3">
            <h4 class="titulo" id="horario"><span>HORARIOS</span></h4>
            <div class="modal-body" id="horarios" ><!--------ESTE DIV TIENE UN SCROLLBAR ------->
                <div *ngIf='mayor(1)'>
                <ul *ngIf="this.opcion!=1; else seleccionadoFecha1" >
                    <li class="date">Lunes </li>
                    <li><a (click)="guardarFecha(1,22,40)">22:40</a></li>
                </ul>
                <ng-template #seleccionadoFecha1  >
                        <ul >
                                <li class="date">Lunes  </li>
                                <li><a  [ngStyle]="{'color': 'blue'}" >22:40</a></li>
                            </ul>
                        
                </ng-template>
                 </div>
                 <div *ngIf='mayor(2)'>
                <ul *ngIf="this.opcion!=2; else seleccionadoFecha2">
                    <li class="date">Martes  </li>
                    <li><a (click)="guardarFecha(2,16,00)">16:00</a></li>
                   
                </ul>
                <ng-template #seleccionadoFecha2  >
                        <ul >
                                <li class="date">Martes  </li>
                    <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                            </ul>
                        
                </ng-template>
            </div>

            <div *ngIf='mayor(3)'>
                <ul *ngIf="this.opcion!=3; else seleccionadoFecha2">
                    <li class="date">Miercoles  </li>
                    <li><a (click)="guardarFecha(3,16,00)">16:00</a></li>
                   
                </ul>
                <ng-template #seleccionadoFecha2  >
                        <ul >
                                <li class="date">Miercoles  </li>
                    <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                            </ul>
                        
                </ng-template>
            </div>
            <div *ngIf='mayor(4)'>
                    <ul *ngIf="this.opcion!=4; else seleccionadoFecha2">
                        <li class="date">Jueves  </li>
                        <li><a (click)="guardarFecha(4,16,00)">16:00</a></li>
                       
                    </ul>
                    <ng-template #seleccionadoFecha2  >
                            <ul >
                                    <li class="date">Jueves  </li>
                        <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                                </ul>
                            
                    </ng-template>
                </div>
                <div *ngIf='mayor(5)'>
                        <ul *ngIf="this.opcion!=5; else seleccionadoFecha2">
                            <li class="date">Viernes </li>
                            <li><a (click)="guardarFecha(5,16,00)">16:00</a></li>
                           
                        </ul>
                        <ng-template #seleccionadoFecha2  >
                                <ul >
                                        <li class="date">Viernes  </li>
                            <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                                    </ul>
                                
                        </ng-template>
                    </div>
                    <div *ngIf='mayor(6)'>
                            <ul *ngIf="this.opcion!=6; else seleccionadoFecha2">
                                <li class="date">Sabado  </li>
                                <li><a (click)="guardarFecha(6,16,00)">16:00</a></li>
                               
                            </ul>
                            <ng-template #seleccionadoFecha2  >
                                    <ul >
                                            <li class="date">Sabado  </li>
                                <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                                        </ul>
                                    
                            </ng-template>
                        </div>
                        <div *ngIf='mayor(0)'>
                                <ul *ngIf="this.opcion!=0; else seleccionadoFecha2">
                                    <li class="date">Domingo  </li>
                                    <li><a (click)="guardarFecha(0,16,00)">16:00</a></li>
                                   
                                </ul>
                                <ng-template #seleccionadoFecha2  >
                                        <ul >
                                                <li class="date">Domingo  </li>
                                    <li><a [ngStyle]="{'color': 'blue'}">16:00</a></li>
                                            </ul>
                                        
                                </ng-template>
                            </div>
                           
                       
                   
               
                <!-- <ul>
                    <li class="date">Miércoles 22 de Mayo </li>
                    <li><a href="">22:40</a></li>
                </ul>

                <ul>
                    <li class="date">Jueves 23 de Mayo </li>
                    <li><a href="">16:00</a></li>
                    <li><a href="">19:50</a></li>
                </ul>

                <ul>
                    <li class="date">Viernes 24 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>

                <ul>
                    <li class="date">Sábado 25 de Mayo </li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>

                <ul>
                    <li class="date">Domingo 26 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>


                </ul>
                <ul>
                    <li class="date">Lunes 27 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                </ul>
                <ul>
                    <li class="date">Martes 28 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>
                <ul>
                    <li class="date">Miércoles 29 de Mayo </li>
                    <li><a href="#">15:00</a></li>
                    <li><a href="#">18:50</a></li>
                    <li><a href="#">19:30</a></li>
                    <li><a href="#">21:30</a></li>
                </ul>-->

            </div>
            <div class="hints">
                <p>* Los horarios en color <span class="matinee">Azul</span> corresponden a las funciones de <span class="matinee">MATINEE</span>.</p>
                <p>* Los horarios en color <span class="trasnoche">Rojo</span> corresponden a las funciones de <span class="trasnoche">TRASNOCHE</span> (La <span class="trasnoche">TRASNOCHE</span> se proyecta pasadas las 24hs del día de función seleccionado).</p>
            </div>


        </div>
    </div>
</div>